.counter-box {
  border: 2px solid black;
  height: 200px;
  width: 200px;
}

.counters {
  display: flex;
  justify-content: space-around;
}

.button {
  flex: wrap;
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
}
